@font-face {
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../assets/fonts/GothicA1-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/GothicA1-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/GothicA1-Medium.woff2') format('woff2');
}

/* @font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/IBMPlexSans_SemiCondensed-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/IBMPlexSans_SemiCondensed-Regular.woff2') format('woff2');
} */

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400, 500;
  font-display: swap;
  src: url('../assets/fonts/IBMPlexSans-VariableFont.woff2') format('woff2');
}
