.h1 {
  font: var(--txt-h1);
}
.h2 {
  font: var(--txt-h2);
}
.h3 {
  font: var(--txt-h3);
}
.h4 {
  font: var(--txt-h4);
}
.h5 {
  font: var(--txt-h5);
}
.h6 {
  font: var(--txt-h5);
}

.text-xl {
  font: var(--txt-xl);
}
.text-l {
  font: var(--txt-l);
}
.text-m {
  font: var(--txt-m);
}
.text-s {
  font: var(--txt-s);
}

.text-btn-1 {
  font: var(--txt-btn-1);
}
.text-btn-2 {
  font: var(--txt-btn-2);
}
.text-btn-3 {
  font: var(--txt-btn-3);
}
.text-btn-4 {
  font: var(--txt-btn-4);
}

.text-label-1 {
  font: var(--txt-label-1);
}
.text-label-2 {
  font: var(--txt-label-2);
}
