doctype html
html(lang='ru')
  head
    block meta
      - var seotitle = '';
      - var seodescription = '';
      - var seokeywords = '';

    meta(charset='UTF-8')
    title= seotitle
  body

    //Основная часть
    block main
